@charset "UTF-8";
@import 'reset.css';
@import 'grid.scss';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


////////////
// LAYOUT //
////////////

body, input, textarea {
	color: #373737;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
}
body {
	background: #e2e2e2;
	width: auto;
	font-size: 14px;
}

// main column & sidebar
#primary {
	@include column(10);
	background: #fff;
	margin: 0px auto;
	padding: 10px;
	float: none;
	display: block;
	max-width: 960px;
}

.site-header {
}
	
header {
	display: block;
	
	h1 {
		text-align: center;
		font-size: 2.2em;
		font-weight: 800;
		margin: 1em auto .5em auto;
	}
}

a {
	color: #000000;
}

#theStory {
	display: block;
	float: none;
	margin: 0px;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	max-height: 400px;

	p {
		margin: 1em 0px;
	}
	
	p:first-child {
		font-size: 1.2em;
		margin-top: 75px;
		margin-bottom: 75px;
	}
}

#theIdeas {
	@include column(12);
	margin: 0px auto;
	display: block;
	float: none;
}

#started, #ideas, #completed, #newProject {
	@include column(6);
	float: left;
	text-align: center;
	
	h2 {
		font-size: 1.8em;
		font-weight: 400;
	}	
	
	h3 {
		font-size: 1.4em;
		font-weight: 200;
		margin: 0px;
	}
	
	h4 {
		font-size: 1.2em;
		font-weight: 100;
		margin: 0px;
		font-style:  italic;
	}
	
	p {
		margin: 0px;
	}
	
	.entry-content, header {
		width: auto;
		margin: 0px;
	}
	
	article, .entry-content {
		padding: 0px;	
	}
	
	.inProgressPercent {
		cursor: pointer;
	}
	
	.inProgressPercentInput {
		width: 15%;
		text-align: center;
	}
}

#completed, #newProject {
	@include column(12);

	.inProgressPercent {
		display: none;
	}
}

#newProject {
	display: none;
}

#ideas {
	.project {
		cursor: default;
		position: relative;

		.overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			display: none;
			background-color: rgba(255, 255, 255, .9);

			a {
				display: block;
				position: absolute;
				margin-top: -22px;
				top: 50%;
				width: 100%;
			}
		}

		&:hover {
			.overlay {
				display: block;
			}		
		}
	}
}

.author {
	#ideas {
		.project {
			cursor: text;
			&:hover {
				.overlay {
					display: none;
				}		
			}
		}
	}	
}

#rightFloaty {
	position: fixed;
	right: 2em;
	top: 2em;
	width: 150px;
	text-align: left;
}

#settingsArea {
	width: 130px;
	padding: 0px 10px;

	a {
		text-decoration: none;
		display: block;
		font-size: 1.2em;
	}

	i {
		margin-right: 5px;
		width: 18px;
		display: inline-block;
	}

	span {
		font-size: 1.2em;
		font-weight: 600;
	}

	input {
		margin: 2px 2px;
	}
}

#loginForm,
#registerForm,
#apfform {
	display: none;

	input[type=text],
	input[type=password] {
		margin: 4px;
		float: right;
	}

	label {
		margin: 4px;
		float: left;
	}

	input[type=submit] {
		margin: 0 auto;
		display: block;
	}
}

#apfform {
	input,
	textarea {
		width: 600px;
		float: left;
	}
}

#score, #welcomeMessage {
	border-bottom: 2px solid #999999;
	margin-bottom: 20px;
	padding: 0px 10px 20px;

	h2 {
	font-size: 1.4em;
	font-weight: 800;
	}

	#yourScore {
		font-size: 1.2em;	
	}

	h3 {
	font-size: 1.2em;
	font-weight: 600;
	font-style: italic;
	}

	#potential {
		font-size: 1.2em;
		font-style: italic;
	}
}

@media screen and (max-width: 640px) {
	#started, #ideas {
		@include column(12);
	}

	#theStory {
		-moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
	}
}