.header
    h1 The Big Scary List

.container.ideas
    .row
        .col-xs-6
            h2 In Progress
        .col-xs-6
            h2 Ideas
    .rows
        .col-xs-12
            h2 Completed

