.header
    h1.text-center The Big Scary List

.container.ideas
    .row
        .col-xs-6
            p.lead Well, this is the big scary list. And what exactly is the big scary list? It is list is a personal and semi-professional projects, with the purpose of tracking all my ideas, goals, and half brained schemes. Now, a site like teuxdeux, or a tool like Evernote would be able to do this just as well (or better) than a simple WordPress based site and to be honest I use both frequently, but this site brings something more.
        .col-xs-6
            p You see, the idea of the big scary list came from a conversation almost a year ago with a co-worker. We were discussing ways to track our own development ideas, projects, etc while still keeping a track of progress. We thought that an individual project score / status was not enough. We realized that the more unfinished ideas we have the less we feel we will accomplish any of them, so a little motivation was in-order.  So why is this special? Well the big scary list will add up project statuses, then give you a overall grade. To add some more motivation we grade even harder on projects that have not seem progress in a long time, or ideas that have not been started.
            p So the simply answer is the big scary list is in fact big and scary, until you complete it. It will give you a no bull answer to how much you have accomplished, based on how much you attempt to start. Perhaps this tool will help you finish more before you start something else, or maybe it will help you keep a track of everything you have on the go. Either way, I believe this will be a very useful tool.
    .row
        div(class="col-xs-8 col-xs-offset-2")
            form(role="form", action="/login", method="post", class="form-inline")
                div.form-group
                    label(for="username") Username
                    input(name="username", type="text", class="form-control", placeholder="Username") 
                div.form-group
                    label(for="password") Password
                    input(name="password", type="password", class="form-control", placeholder="Password") 
                button(type="submit", class="btn btn-default") Login
