!!! 5
html(lang="en")
    head
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        title Big Scary List
  body
      a(href='https://github.com/obihann/The-Big-Scary-List')
          img(style='position: fixed; top: 0; left: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png', alt='Fork me on GitHub')
      div!= body
